## Contrôle continue - Régression

In [30]:
import pandas as pd

In [31]:
df = pd.read_csv('data_reg.csv')
df.head()

        TGR       DCT       ATM       FTM       CXV          y
0  0.143789  0.436654  1.375283  4.233510  0.716669   8.816936
1  1.618606  2.870789  1.353434  2.689847  4.912020  13.214682
2  2.598226  3.853756  2.402485  3.409069  6.993167  18.672164
3  0.604583  2.763574  2.064275  4.737224  4.641635  10.673566
4  0.205770  2.914649  1.919490  2.533273  5.361346   6.885231

## Prétraitement

In [32]:
df.describe()

              TGR         DCT         ATM         FTM         CXV           y
count  500.000000  500.000000  500.000000  500.000000  500.000000  500.000000
mean     1.473662    2.355159    1.259515    3.548410    4.064296   12.779847
std      0.847520    1.374926    0.714920    2.052158    2.775752    4.435936
min      0.012082    0.006571    0.009224    0.008694   -0.881692    3.747378
25%      0.764170    1.136838    0.682993    1.727574    1.762788    9.500694
50%      1.429266    2.346826    1.254119    3.520789    4.047777   12.186335
75%      2.187647    3.499260    1.882743    5.427125    6.253003   15.735474
max      2.998672    4.988552    2.499051    6.998716    9.914326   28.183317

In [33]:
df.columns

Index(['TGR', 'DCT', 'ATM', 'FTM', 'CXV', 'y'], dtype='object')

In [34]:
X = df[['TGR', 'DCT', 'ATM', 'FTM', 'CXV']]
y  = df[['y']]

## Training

In [35]:
from sklearn.linear_model import LinearRegression

In [36]:
lr = LinearRegression()

In [37]:
lr.fit(X,y)

LinearRegression()

In [38]:
lr.intercept_ , lr.coef_

(array([2.10018054]),
 array([[ 3.30727298,  2.04643303, -1.01722678,  0.96776088, -0.28703934]]))

## Evaluation

In [39]:
evaluation = lr.score(X,y)
print("Le score est de : ", evaluation)

Le score est de :  0.9229155743118376

## Créer une fonction de prédiction  y = f(entrée)

In [43]:

def prediction(matrice):
    y_prediction  = lr.predict(matrice)
    return y_prediction

In [46]:
valeur_a_predire=X.iloc[1:2]
print("La prediction sur la matrice X ",prediction(valeur_a_predire))

La prediction sur la matrice X  [[13.14466709]]